
body {
    background-color: #282828;
    height: 100vh;
}

header {
    background-color: #212121;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: large;
    font-weight: 900;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50vw;
    margin: auto;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}