.active {
    background-color: #181818 !important;
}

.buttonsContainer {
    margin-top: 1rem;
}

@media screen and (min-width: 769px) {
    .button {
        padding: 1rem 2rem;
        background-color: #212121;
        color: #fff;
        margin: 0 1rem;
        border: none;
        font-size: medium;
        text-decoration: none;
    }
}

@media screen and (max-width: 768px) {
    .button {
        background-color: #212121;
        color: #fff;
        border: none;
        padding: .7rem 1.2rem;
        margin: 0 .6rem;
        font-size: small;
        text-decoration: none;
    }
}

@media screen and (max-width: 480px) {
    .button {
        background-color: #212121;
        color: #fff;
        border: none;
        padding: .5rem 1rem;
        margin: 0 .5rem;
        font-size: x-small;
        text-decoration: none;
    }

}