.frameworkLine {
    height: 1px;
    width: 50vw;
    border: 3px solid;
    border-radius: 5px;
    position: relative;
}

.circleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    height: 5vh;
    width: 100%;
    top: -2.5vh;
}

.circleStat {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    min-width: 3em;
    min-height: 3em;
    border-radius: 55px;
    color: #fff;
    background-color: #212121;
}